<nav class="bg-gray-800 shadow relative background-container">
  <div class="max-w-7xl mx-auto px-4 flex items-center justify-between h-24">
    <div class="flex items-center ml-20">
      <div class="flex-shrink-0 hover:scale-110 spin-on-hover">
        <img
          routerLink=""
          class="h-20 w-100 transition duration-300 hover:scale-110 spin-on-hover"
          src="assets/img/zeal_logo.png"
          alt="Workflow"
        />
      </div>
    </div>
    <div class="hidden md:flex items-center space-x-4 ml-auto mr-40">
      <a
        routerLink="zeal"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >
        Z.E.A.L.
      </a>
      <a
        routerLink="rag"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >
        RAG
      </a>
    </div>
  </div>
</nav>
